<div ng-show="beat.reporters.length">
  <h2>Reporter list for {{ beat.name }}</h2>
  <p>( Click to display further info about that reporter )</p>
  <ul>
    <li ng-repeat="item in beat.reporters">
      <span ng-click="display = true">
        {{ item.name }}
      </span>
      <br>
      <span ng-show="display" ng-click="display = false">
        {{item.yearsEmployed}} <br>
        {{item.birthday}} <br>
        <p>( Click info to hide )</p>
      </span>
    </li>
  </ul>
</div>

<div>
  <h2>Add a reporter to {{ beat.name }}</h2>
  <form ng-submit="addReporter()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="reporterName" class="form-control" placeholder="Reporter's name">
    </div>
    <div class="form-group">
      <input type="text" ng-model="yearsEmployed" class="form-control" placeholder="Years worked">
    </div>
    <div class="form-group">
      <input type="text" ng-model="birthday" class="form-control" placeholder="yyyy/mm/dd">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
